<div class="digital-site" #site>
  <div class="navigation-bar">
    <div class="lft">
      <img src="../assets/images/logo.svg" alt="">
      <span>ramos</span>
    </div>
    <div class="mid">
      <span>Dashboard</span>
      <span>Reports</span>
      <span>Documents</span>
      <span>History</span>
      <span>Settings</span>
    </div>
    <div class="rgt">
      <span>Sign Up</span>
    </div>
  </div>
  <div class="main-text">
    <div class="lft">
      <div class="top">
        <img src="../assets/images/thunder-lightening.svg" alt="">
        <span>Analytics</span>
      </div>
      <div class="bottom">
        <span>that <span class="help">helps</span> you</span>
      </div>
    </div>
    <div class="rgt">
      <img src="../assets/images/laptop.svg" alt="">
    </div>
  </div>
  <div class="future">
    <span>shape</span>
    <img src="../assets/images/circle-loading.svg" alt="">
    <span>the future</span>
  </div>
  <div class="card-body">
    <div class="lft">
      <span class="strategic-title" [ngClass]="isInViewport(key)? 'animate-strategic-title':''" #key>Your key to
        strategic</span>
      <span class="strategic-strategic-title" [ngClass]="isInViewport(success)? 'animate-ramos':''" #success>success
        through analytics</span>
    </div>
    <div class="rgt exciting" [ngClass]="isInViewport(exciting)? 'animate-exciting':''" #exciting>
      <span>Ready for exciting instantaneous</span>
      <span>all-accessible insights in red time?</span>
    </div>
    <div class="report-card">
      <div class="content-lft">
        <div class="report" [ngClass]="isInViewport(report)? 'animate-report':''" #report>Setting up reports</div>

        <div class="access">
          <span>Fast and easy access</span>
          <span>to analytics</span>
        </div>
        <div class="platform">
          <span>One platform is a comprehensive</span>
          <span>system of solutions that will be the</span>
          <span>first step towards digitalization of</span>
          <span>your business!</span>
        </div>
      </div>
      <div class="content-rgt">
        <div class="stats">Sales statistic</div>
        <div class="profit">
          <img class="hat" src="../assets/images/plus-circle.svg" alt="">
          <div>
            <span class="total-profit">Total profit</span>
            <span class="dollar-sign">$ <span class="dollar-amount">264.2k</span></span>
          </div>
          <div class="visitor">
            <span class="name">Visitors</span>
            <span class="line"></span>
            <span class="visitor-ratings">
              <span class="visitor-number">56K</span>
              <img class="green-plus" src="../assets/images/green-plus-circle.svg" alt="">
              <span class="increase-rate">+14%</span>
            </span>
          </div>
        </div>
        <img class="chart" src="../assets/images/chart.svg" alt="">
      </div>
    </div>
    <div class="widget-control">
      <div class="widget">
        <div class="widget-lft">
          <img class="triple" src="../assets/images/triple-triangle.svg" alt="">
          <img class="avatar" src="../assets/images/avatar.svg" alt="">

        </div>
        <div class="widget-rgt">
          <span class="transaction">Transactions</span>
          <span class="increase-direction">
            <img src="../assets/images/green-plus-circle-2.svg" alt="">
            <span class="widget-increase">+14%</span>
          </span>
          <span class="widget-count">43K</span>
        </div>
      </div>
      <div class="control">Widget control</div>
      <div class="widget-text">
        <span>Reports provide a comprehensive overview</span>
        <span>of important reports of web analytics</span>
      </div>
    </div>
    <div class="percentage">
      <div class="lft">
        <span>Up to</span>
        <span class="percentage-amount">45%</span>
      </div>
      <div class="rgt" [ngClass]="isInViewport(perrgt)? 'animate-per-rgt':''" #perrgt>
        <span>Increase your analytics efficiency by up to 45%. Unique</span>
        <span>algorithms provide insights from data, reduce time for analysis</span>
        <span>and save time for making important, informed decisions</span>
      </div>
    </div>
  </div>
  <div class="efficiency">
    <div class="efficiency-header" [ngClass]="isInViewport(efficiencyheader)? 'animate-efficiency-header':''"
      #efficiencyheader>
      <div>Maximize <span>efficiency</span></div>
      <div>with our intuitive</div>
    </div>
    <div class="analytics">
      <div class="eff-img">
        <div class="img-box img-analytics" [ngClass]="isInViewport(animateimganalytics)? 'animate-img-analytics':''"
          #animateimganalytics>
          <img src="../assets/images/light-line.svg" alt="">
        </div>
        <div class="img-box img-stats" [ngClass]="isInViewport(animateimgstats)? 'animate-img-stats':''"
          #animateimgstats>
          <span class="growth-amount">45% </span>
          <span>System grow</span>
          <span>faster</span>
        </div>
      </div>
      <div class="analytics-service">
        <div>
          <div>
            <span>Analytic service</span>
          </div>
        </div>
      </div>
    </div>
    <div class="border-down"></div>

    <div class="explore">
      <div class="traffic">
        <div>Explore traffic sources, page behavior, conversions and more to gain deep insight</div>
        <div>into your audience. With us, your business doesn't just adapt - it evolves</div>
      </div>
      <div class="btns">
        <div class="demo" [ngClass]="isInViewport(animatedemo)? 'animate-demo':''" #animatedemo>Request a demo</div>
        <div class="free" [ngClass]="isInViewport(animatefree)? 'animate-free':''" #animatefree>Start for free</div>
      </div>
    </div>
  </div>
  <div class="turning-card">
    <div class="ideas">
      <div class="turning" [ngClass]="isInViewport(animateturning)? 'animate-turning':''" #animateturning>
        <div>Turning data into real</div>
        <div>actions and ideas.</div>
      </div>
      <div class="button-list" [ngClass]="isInViewport(animatebtnlist)? 'animate-btn-list':''" #animatebtnlist>
        <span>Instant insights</span>
        <div class="circle-box"> + </div>
      </div>
      <div class="button-list" [ngClass]="isInViewport(animatebtnlista)? 'animate-btn-list':''" #animatebtnlista>
        <span>AI technology</span>
        <div class="circle-box"> + </div>
      </div>
      <div class="button-list" [ngClass]="isInViewport(animatebtnlistb)? 'animate-btn-list':''" #animatebtnlistb>
        <span>Easy integration</span>
        <div class="circle-box"> + </div>
      </div>
    </div>
    <div class="various-views">
      <img class="desktop-view" src="../assets/images/desktop-view.svg" alt=""
        [ngClass]="isInViewport(desktopview)? 'animate-desktop-view':''" #desktopview>

      <img class="mobile-view" [ngClass]="isInViewport(mobileview)? 'animate-mobile-view':''" #mobileview
        src="../assets/images/mobile-case.svg" alt="">

      <img class="mobile-view-top" [ngClass]="isInViewport(mobileviewtop)? 'animate-mobile-view-top':''" #mobileviewtop
        src="../assets/images/mobile-top.svg" alt="">
      <img class="mobile-view-bottom" [ngClass]="isInViewport(mobileviewbottom)? 'animate-mobile-view-bottom':''"
        #mobileviewbottom src="../assets/images/mobile-bottom.svg" alt="">

    </div>
    <div class="ramos">
      <div class="name">Ramos</div>
    </div>
  </div>

  <div class="graph-page" [ngClass]="isInViewport(graphpage)? 'animate-graph-page':''" #graphpage>
    <span>We can your full</span>
    <div class="data">
      <span class="control">control</span>
      <span>over your data</span>
    </div>
  </div>
  <div class="card-graphs">
    <div class="card lft-card">
      <div class="cards">
        <div class="rate" [ngClass]="isInViewport(rate)? 'animate-rate':''" #rate>
          <div class="conversion-rate">Conversion rate</div>
          <div class="rate-card">
            <div class="img-box" [ngClass]="isInViewport(rateImg)? 'animate-img-box':''" #rateImg>
              <img src="../assets/images/conversion-rate.svg" alt="">
            </div>
            <div class="rate-percentage" [ngClass]="isInViewport(ratePercent)? 'animate-rate-percentage':''"
              #ratePercent>
              2,3%
            </div>
          </div>
          <div class="rate-text">
            <div>Percentage of</div>
            <div>website visitors</div>
          </div>
        </div>
        <!-- <div class="revenue-wrapper"> -->
        <div class="revenue" [ngClass]="isInViewport(revenue)? 'animate-revenue':''" #revenue>
          <div class="sales">Sales revenue</div>
          <div class="sales-amount">
            <span>$</span>
            <span>131,2K</span>
          </div>
          <div class="bar-line">
            <div class="line green-line first-line" [ngClass]="isInViewport(firstLine)? 'animate-first-line':''"
              #firstLine></div>

            <div class="line yellow-line" [ngClass]="isInViewport(yellow)? 'animate-yellow-line':''" #yellow></div>

            <div class="line green-line third-line" [ngClass]="isInViewport(green)? 'animate-third-line':''" #green>
            </div>
          </div>
          <div class="user-one">
            <div class="lft-icon">
              <img src="../assets/images/person-1.svg" alt="">
              <span>Min price</span>
            </div>
            <span>1,200$</span>
          </div>
          <div class="user-one">
            <div class="lft-icon">
              <img src="../assets/images/person-2.svg" alt="">
              <span>Max price</span>
            </div>
            <span>2,320$</span>
          </div>
          <div class="engagement">
            <span class="engagement-rate">Engagement rate</span>
            <span>47.84%</span>
          </div>
        </div>
        <!-- </div> -->

      </div>
      <div class="details">
        <div class="service">Imporoved customer service</div>
        <div class="info">Analytics helps optimize service processes by</div>
        <div class="info">providing information on how to improve interactions</div>
        <div class="info">with customers and increase their satisfaction.</div>
      </div>
    </div>
    <div class="card rgt-card">
      <div class="cards">
        <div class="empty"></div>
        <div class="finance-reports">
          <img src="../assets/images/finance.svg" alt="">
          <div>Finance reports</div>
        </div>
        <div class="insights">
          <div class="insight-header">
            <img src="../assets/images/insight.svg" alt="">
            <div>Insights</div>
          </div>
          <div class="insight-body">
            <div class="total-profit">
              <div class="profit">Total profit</div>
              <div class="amount">
                <span>$</span>
                <span>264.2K</span>
              </div>
              <div class="visual">Data visualization</div>
            </div>
            <div class="profit-chart">
              <img src="../assets/images/insight-chart.svg" alt="">
            </div>
          </div>
        </div>
      </div>
      <div class="details">
        <div class="service">Monitoring key indicators</div>
        <div class="info">Analytics platforms allow businesses to track</div>
        <div class="info">KPIs an important tool for measuring success</div>
        <div class="info">and achieving goals.</div>
      </div>
    </div>
  </div>
  <div class="chain">
    <img class="" [ngClass]="isInViewport(chain)? 'chain-box':''" #chain src="../assets/images/chain-box.svg" alt="">
    <div class="get-started" [ngClass]="isInViewport(getStarted)? 'animate-get-started':''" #getStarted>Get Started
    </div>
    <span class="started-text" [ngClass]="isInViewport(getStarteda)? 'animate-started-text':''" #getStarteda>Turn
      information into advantage! Start using</span>
    <span class="started-text" [ngClass]="isInViewport(getStartedb)? 'animate-started-text':''" #getStartedb>Ramos
      today. Sign up for a free trial.</span>
    <span class="btns">
      <span class="demo" [ngClass]="isInViewport(btnDemo)? 'animate-demo':''" #btnDemo>Request a demo</span>
      <span class="free" [ngClass]="isInViewport(btnFree)? 'animate-free':''" #btnFree>Start for free</span>
    </span>
  </div>
  <div class="footer-content">
    <div class="footer-navigation">
      <div class="lft-nav" [ngClass]="isInViewport(lftnav)? 'animate-lft-nav':''" #lftnav>
        <span>About</span>
        <span>Why Us</span>
        <span>Platform</span>
        <span>Pricing</span>
        <span>Contacts</span>
      </div>
      <div class="rgt-email" [ngClass]="isInViewport(rgtEmail)? 'animate-rgt-email':''" #rgtEmail>hello@ramos.com</div>
    </div>
    <div class="address">
      <div class="lft-address">
        <div class="lft-add" [ngClass]="isInViewport(lftAdd)? 'animate-lft-add':''" #lftAdd>
          <span class="place">Warrensville Heights</span>
          <span>14418 Vineyard Drive. NC</span>
          <span>44128</span>
        </div>
        <div class="lft-add">
          <span class="city">Saint Louis</span>
          <span>1366 Penn Street</span>
          <span>63101</span>
        </div>
        <div class="rgt-add" [ngClass]="isInViewport(rgtAdd)? 'animate-rgt-add':''" #rgtAdd>
          <span>Linkedin</span>
          <span>Instagram</span>
          <span>Facebook</span>
        </div>
      </div>
    </div>
    <div class="copy-bar">
      <div class="copy-right">
        <span class="ramos" [ngClass]="isInViewport(ramos)? 'animate-ramos':''" #ramos>Ramos</span>
        <span class="cover">
          <span class="copy-box">
            <span class="r">R</span>
          </span>
        </span>

      </div>
      <span>Privacy policy</span>
      <span>License agreement</span>
      <span class="barcode" [ngClass]="isInViewport(barcode)? 'animate-barcode':''" #barcode>
        <img src="../assets/images/barcode.svg" alt="">
      </span>
    </div>
  </div>
</div>